body {
    font-family: Arial, sans-serif;
    
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set a lower z-index to place it behind the content */
    opacity: 0.9; /* Adjust the opacity of the background image */
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Example styles for submit button */
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#meal-container, #reviews-container {
    margin-bottom: 20px;
}


.review-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.review-item h3 {
    margin-top: 0;
}

.review-item p {
    margin-bottom: 0;
}

#review-form input[type="text"], #review-form textarea {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#review-form input[type="submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#review-form input[type="submit"]:hover {
    background-color: #0056b3;
}

#meal-image {
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 10px;
}

#meal-name, #instruction, #random-meal, #reviews, #add-review, #name, #meal, #review {
    color: ivory;
}