/* Header Styles */
header {
    background-color: #63989f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 30px;
  }
  
  .logo {
    font-size: 24px;
    cursor: pointer;
  }

  .moderator {
    margin-left: 4px;
    color: #232F44;
    font-style: italic;
    font-size: 20px;
    cursor: pointer;
  }