
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="header">
    <div class="logo">Poll'up</div>
  </header> 
    <div class="login-container">
        <h2>Forget Password</h2>
        <form class="login-form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="text" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <button type="submit" class="login-button">Send Code</button>
        </form>

    </div>
</body>
</html>
