<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediction Poll</title>
  </head>
  <body>
    <header class="header">
      <img
        src="assets/app-logo-white.png"
        alt="Logo"
        style="width: 40px; height: 40px; margin-right: 13px; cursor: pointer"
      />
      <div class="logo">Poll'up</div>
      <div class="header-links">
        <a href="#about-app">About The App</a>
        <button class="download-button">Download the App</button>
        <p>|</p>
        <a href="app-login">Login</a>
        <a href="app-register">Sign Up</a>
        <button class="moderator-button" (click)="navigateToModeratorLogin()">
          Poll'up+ Moderator
        </button>
      </div>
    </header>

    <section class="about-app">
      <div class="about-app-content">
        <h2>
          Make predictions by participating in polls to earn points and badges
        </h2>
        <p>
          Create and participate in prediction polls about various events and
          get evaluated for the accuracy of your answers!
        </p>
      </div>
      <!-- Add the new div for the image -->
      <div class="about-app-image">
        <img src="assets/app-promote.png" alt="About App Image" />
      </div>
    </section>

    <section class="features-container">
      <h2 class="features-heading">Why Poll'up?</h2>
      <div class="features">
        <div class="feature">
          <img src="assets/connect-icon.png" alt="Connect Icon" />
          <h3>Connect with Friends</h3>
          <p>
            Stay connected with your friends and engage in discussions about
            predictions and events.
          </p>
        </div>

        <div class="feature">
          <img src="assets/participate-icon.png" alt="Participate Icon" />
          <h3>Participate in Polls</h3>
          <p>
            Join prediction polls, make your own predictions, and compete with
            other users to earn points.
          </p>
        </div>

        <div class="feature">
          <img src="assets/badge-icon.png" alt="Badge Icon" />
          <h3>Earn badges and ranks</h3>
          <p>
            Complete achievements to earn different types of badges, and see
            your rank among all users.
          </p>
        </div>

        <div class="feature">
          <img src="assets/settled-icon.png" alt="Settled Icon" />
          <h3>Enrich your knowledge</h3>
          <p>
            Engaging in polls is not a necessity, you can also get information
            from already evaluated polls.
          </p>
        </div>
      </div>
    </section>

    <section class="faq-section">
      <h2>Frequently Asked Questions</h2>
      <br />
      <app-faq-section></app-faq-section>
    </section>

    <section class="cta-section">
      <h2>Join us and start polling!</h2>
      <div class="sign-up">
        <button
          class="cta-button"
          onclick="window.location.href='app-register'"
        >
          Sign Up
        </button>
      </div>
      <p>Do you already have a Poll'up account?</p>
      <div class="login">
        <button class="cta-button" onclick="window.location.href='app-login'">
          Login
        </button>
      </div>
    </section>

    <footer class="footer">
      <p>&copy; 2023 Poll'up. All rights reserved.</p>
      <ul class="footer-links">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>
