/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body,
html,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: #202a40;
}

/* Set the font family for the entire page */
body {
  background-color: #202a40;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  background-color: #232f44;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 30px;
}

.logo {
  font-size: 24px;
  cursor: pointer;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.header-links a {
  text-decoration: none;
  color: #fff;
  font-size: medium;
}

.header-links a {
  text-decoration: none;
  color: #fff;
  font-size: medium;
}

.download-button {
  background-color: #e57f84;
  color: #fff;
  font-size: medium;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.download-button:hover {
  background-color: #30568f;
}

.moderator-button {
  background-color: #9dc0c4;
  color: #202a40;
  font-size: medium;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.moderator-button:hover {
  background-color: #30568f;
}

/* Navigation Bar Styles */
.logo {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #fff;
}

.user-profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

/* App Features Styles */
.features-container {
  background-color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.features-heading {
  color: #232f44;
  font-size: 32px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.features {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  max-width: 300px;
}

.feature img {
  width: 80px;
  height: 80px;
}

.feature h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #232f44;
}

.feature p {
  font-size: 18px;
  color: #4e4e4e;
}

/* FAQ Styles */
.faq-section {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #9dc0c4;
  border-radius: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 22pt;
  color: #fff;
}

/* Login and Sign-Up Styles */
.login,
.sign-up {
  text-align: center;
  margin: 20px;
}

.cta-section {
  margin-top: 20px;
  background-color: #fff;
  color: #232f44;
  text-align: center;
  padding: 10px 10px;
}

.cta-section p {
  margin-top: 15px;
  background-color: #fff;
  color: #232f44;
  text-align: center;
  padding: 5px;
}

.cta-section h2 {
  margin-top: 10px;
  background-color: #fff;
  color: #232f44;
  text-align: center;
  padding: 10px 10px;
}

.cta-button {
  background-color: #9dc0c4;
  color: #fff;
  border: none;
  font-size: medium;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.cta-button:hover {
  background-color: #e57f84;
}

/* About the App Styles */
.about-app {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-app-content {
  height: 595px;
  background-color: #fff;
  color: #202a40;
  text-align: left;
  padding: 20px;
  flex: 1;
  overflow: hidden;
}

.about-app-content h2 {
  font-size: 40px;
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 400px;
}

.about-app-content p {
  width: 400px;
  color: #4e4e4e;
  padding: 40px;
  font-size: 25px;
  line-height: 1.5;
}

.about-app-image {
  flex: 1;
}

.about-app-image img {
  width: 900px;
  height: auto;
}

/* Footer Styles */
footer {
  background-color: #232f44;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Copyright and Links Styles */
footer p {
  font-size: 12px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul li {
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

/* Responsive Layout */
@media (max-width: 768px) {
  header,
  footer,
  .user-profile {
    padding: 10px 0;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .about-app {
    flex-direction: column;
    align-items: center;
  }

  .about-app-content,
  .about-app-image {
    width: 100%;
  }

  .features {
    align-items: center;
    flex-direction: column;
  }
}
