<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediction Poll</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">Poll'up</div>
      <div class="header-links">
        <a href="#about-app">About the App</a>
        <button class="download-button">Download the App</button>
        <p>|</p>
        <a href="app-login">Login</a>
        <a href="app-register">Sign Up</a>
      </div>
    </header>

    <section class="about-app">
      <h2>
        Make predictions by participating in polls to earn points and badges
      </h2>
      <p>
        Welcome to Poll'up, a platform where users create and participate in
        prediction polls about various events and outcomes. Predictions are
        evaluated for their accuracy, contributing to users' prediction power
        scores. Events are categorized, and users' scores are tagged for a
        competitive experience.
      </p>
    </section>
    <br />

    <section class="features">
      <div class="feature">
        <img src="assets/connect-icon.png" alt="Connect Icon" />
        <h3>Connect with Friends</h3>
        <p>
          Stay connected with your friends and engage in discussions about
          predictions and events.
        </p>
      </div>

      <div class="feature">
        <img src="assets/participate-icon.png" alt="Participate Icon" />
        <h3>Participate in Polls</h3>
        <p>
          Join prediction polls, make your own predictions, and compete with
          other users to earn points.
        </p>
      </div>

      <div class="feature">
        <img src="assets/badge-icon.png" alt="Badge Icon" />
        <h3>Earn badges and ranks</h3>
        <p>
          Complete achievements to earn different types of badges, and see your
          rank among all users.
        </p>
      </div>

      <div class="feature">
        <img src="assets/settled-icon.png" alt="Settled Icon" />
        <h3>Enrich your knowledge</h3>
        <p>
          Engaging in polls is not a necessity, you can also get information
          from already evaluated polls.
        </p>
      </div>
    </section>

    <section class="faq-section">
      <h2>Frequently Asked Questions</h2>
      <br />
      <div class="faq-item">
        <h3>1. What is a prediction poll?</h3>
        <p>
          Polls are the main element of our platform. A poll consists of a
          question whose answer is not known at the moment but is most likely to
          be known in the future.
        </p>
      </div>
      <div class="faq-item">
        <h3>2. How do I create a prediction poll?</h3>
        <p>Creating a prediction poll is easy. Just follow these steps:</p>
        <p>- Login with your email and password</p>
        <p>- Navigate to 'Create a New Poll Request' page</p>
        <p>
          - Enter the details of your poll, including the question, options, and
          at least one tag
        </p>
        <p>
          - Send the request and wait until the request is accepted by one of
          our Moderators
        </p>
        <p>
          - Now, you can see your newly created poll under your profile page,
          and start polling!
        </p>
      </div>
      <div class="faq-item">
        <h3>3. How are predictions evaluated?</h3>
        <p>
          Predictions are evaluated based on the accuracy of the outcome.
          Poll'up uses a scoring system to calculate users' prediction power
          scores, which are influenced by correct predictions and participation
          in polls.
        </p>
      </div>
      <div class="faq-item">
        <h3>4. What is the prediction power score?</h3>
        <p>
          The prediction power score measures your accuracy in making
          predictions. It's calculated based on .
        </p>
      </div>
      <div class="faq-item">
        <h3>5. What are tags in this application?</h3>
        <p>
          The tags are used to enhance the competitive experience in our
          platform. Poll'up offers a wide range of categories for polls. You can
          explore and participate in polls related to sports, entertainment,
          current events, and more.
        </p>
      </div>

      <div class="faq-item">
        <h3>6. How do I connect with other users on Poll'up?</h3>
        <p>
          You can connect with other users by sending or accepting friend
          requests. Once connected, you can view their polls and predictions,
          making the experience more interactive and social.
        </p>
      </div>

      <div class="faq-item">
        <h3>7. Who are moderator users?</h3>
        <p>
          Moderator users have the authority to review and moderate
          user-generated content, manage reports, and enforce platform rules.
          They play a crucial role in ensuring a smooth and respectful community
          experience.
        </p>
      </div>
      <div class="faq-item">
        <h3>
          8. What guidelines and rules do moderator users enforce on Poll'up?
        </h3>
        <p>
          Moderator users enforce Poll'up's community guidelines and rules,
          which include guidelines related to respectful communication, content
          appropriateness, and community behavior. These guidelines help
          maintain a positive and respectful atmosphere.
        </p>
      </div>
    </section>

    <section class="cta-section">
      <h2>Join us and start polling!</h2>
      <div class="sign-up">
        <button
          class="cta-button"
          onclick="window.location.href='app-register'"
        >
          Sign Up
        </button>
      </div>
      <p>Do you already have a Poll'up account?</p>
      <div class="login">
        <button class="cta-button" onclick="window.location.href='app-login'">
          Login
        </button>
      </div>
    </section>

    <footer class="footer">
      <p>&copy; 2023 Poll'up. All rights reserved.</p>
      <ul class="footer-links">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>
