<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .button.clicked {
          background-color:#B74F6F !important;
          color: white;
        }
      </style>
</head>
<body>
    <div class="container" style="position: relative; ">
        <div class="post-widget" style="display: flex; align-items: start;">
            <img class="user-avatar" src="assets/unknown.jpg"
             alt="User Avatar" style="width:50px; height:50px;border-radius: 50%; margin-right: 5px;margin-top: 5px;">
            <div class="post-content" style="display: flex; flex-direction: column; align-items: start;
            margin-left: 5px;">
                <b class="name" style=" font-size:small; margin-top: 12px;">Jane</b>
                <p class="user-name" style="font-size:small;margin-top:3px;">&#64;janesmith</p>
            </div>
        </div>
        <h3>Who will be the next James Bond?</h3>
        <div style="display: flex; justify-content: space-between;">
            <div>
                <button style="width: 120px; height: 25px; background-color: #DA9F93; cursor: pointer; 
            border-radius: 15px; font-size: smaller; margin-bottom: 10px;margin-right: 5px;">Movies</button>
            <button style="width: 120px; height: 25px; background-color: #C5D86D; cursor: pointer; 
            border-radius: 15px; font-size: smaller; margin-bottom: 10px;">Trending</button>
            </div>
            
            <p style="text-align: right; font-size: smaller;">1567 Votes</p>    
        </div>
     
        <button class="button" #button1 id = "button1" (click)="toggleButton(button1)" [disabled]="selectedButton != null && selectedButton != button1" >Tom Hardy</button>
        <button class="button" #button2 id = "button2" (click)="toggleButton(button2)" [disabled]="selectedButton != null && selectedButton != button2">Theo James</button>
        <button class="button" #button3 id = "button3" (click)="toggleButton(button3)" [disabled]="selectedButton != null && selectedButton != button3">Other</button>

        <div style="display: flex; justify-content: space-between; ">
            <button style="width: 100px; height: 35px; background-color: #187795; color: #fff; cursor: pointer; 
            border-radius: 15px; font-size: smaller; margin-bottom: 10px; margin-top: 20px; border: none;">Like</button>
            <p style="text-align: center; margin-right: 170px; margin-left: 100px;">52 Comments</p>
            <p style="text-align: right;">3d</p>
        </div>
        
    </div>
</body>
</html>
