body {
  background-color: #9dc0c4;
  height: 70%;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #63989f;
  padding: 20px;
  margin: 0;
}
.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #9dc0c4;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}
.question:hover {
  text-decoration: underline;
}

.heart-image {
  padding: 2px;
  vertical-align: middle;
}
