<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <h2 style="border-bottom: 2px solid #000; margin-bottom: 5px">Badges</h2>
      <div class="buttons" style="overflow: auto; max-height: 250px">
        <button
        class = "button"
        *ngFor="let badge of badges; let i=index"
        [ngStyle]="{ 'background-color': getColor(i)}" 
      >
        {{ badge.name }}
      </button>

       <div *ngIf="badges.length === 0" style="text-align: center; color: rgb(44, 39, 39);">
        This user doesn't have any badges yet.
      </div>

      </div>
    </div>
  </body>
</html>
