<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <h2 style="border-bottom: 2px solid #000; margin-bottom: 5px">Badges</h2>
      <div class="buttons" style="overflow: auto; height: 150px">
        <button class="button" style="background-color: yellow">
          Poll Destroyer
        </button>
        <button class="button" style="background-color: green">
          Beginner Philosopher
        </button>
        <button class="button" style="background-color: #e57f84">
          Comment Monster
        </button>
        <button class="button" style="background-color: yellow">Master</button>
        <button class="button" style="background-color: green">
          New Fellow
        </button>
        <button class="button" style="background-color: #e57f84">
          Ancient
        </button>
      </div>
    </div>
  </body>
</html>
