<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Moderator Apply Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>

<body>
    <app-moderator-header></app-moderator-header>
    <div class="apply-container" *ngIf="!applicationSubmitted" ng-controller="ModeratorApplyController">
      <h2>Apply to be a Moderator</h2>
      <form class="apply-form" #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" [(ngModel)]="application.name" required>
    
          <label for="surname">Surname:</label>
          <input type="text" id="surname" [(ngModel)]="application.surname" required>
    
          <label for="email">Email address:</label>
          <input type="text" id="email" name="email" [(ngModel)]="email" required>
        
          <label for="cv">CV (PDF only):</label>
          <label for="cv" class="custom-file-input-label">
            {{ getLabel() || "Choose a file" }}
            <input type="file" id="cv" [(ngModel)]="application.cv" accept=".pdf" (change)="onFileSelected($event)" class="custom-file-input">
          </label>

          <label for="reason" style="margin-top: 20px;">Tell us why you are interested!</label>
          <input type="text" id="reason" [(ngModel)]="application.reason" required>
        </div>
    
        <button type="submit" [disabled]="!form.valid">Submit Application</button>
      </form>
    </div>
    
    <div *ngIf="applicationSubmitted" class="submission-success">
      <h2>Application Submitted!</h2>
      <p>Thank you for your application.</p>
    </div>
</body>
</html>
