<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div
        class="post-widget"
        style="display: flex; align-items: start; padding-top: 10px"
        [class.blurred]="!isAuthenticated"
      >
        <img
          class="user-avatar"
          src="assets/unknown.jpg"
          alt="User Avatar"
          style="
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 5px;
            margin-top: 5px;
          "
        />
        <div
          class="post-content"
          style="
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left: 5px;
          "
        >
          <b class="name" style="font-size: medium; margin-top: 15px">{{ this.username }}</b>
          <p class="user-name" style="margin-top: 2px">
            &#64;{{ this.username }}
          </p>
        </div>
      </div>
      <div class="buttons">
        <button class="button" routerLink="/app-user-profile"[class.blurred]="!isAuthenticated">
          My Profile
        </button>
        <button class="button" routerLink="/app-home">Homepage</button>
        <button class="button"[class.blurred]="!isAuthenticated">Notifications</button>
        <button class="button"[class.blurred]="!isAuthenticated">Settings</button>
        <button class="button"[class.blurred]="!isAuthenticated" (click)="logOut()" style="margin-bottom: 40px">
          Log out
        </button>
        <button
          class="button"
          routerLink="/app-poll-request"
          style="background-color: #e57f84; color: #fff"
          [class.blurred]="!isAuthenticated"
        >
          Create a poll request
        </button>
      </div>
    </div>
  </body>
</html>
