<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container" style="position: fixed;">
      <div
        class="post-widget"
        style="display: flex; align-items: start; padding-top: 10px"
        [class.blurred]="!isAuthenticated"
      >
        <img
          class="user-avatar-style"
          [src]="profile_picture ? profile_picture : 'assets/unknown.jpg'"
          alt="User Avatar"
          style="
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 20px;
          "
        />
        <div
          class="post-content"
          style="
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left: 5px;
          "
        >
          <b class="name" style="font-size: medium; margin-top: 15px"
            >{{ this.firstname }} {{ this.lastname }}</b
          >
          <p class="user-name" style="margin-top: 2px">
            &#64;{{ this.username }}
          </p>
        </div>
      </div>
      <div class="buttons" style="position: relative;">
        <button 
        class="button"
        routerLink="/app-user-profile"
        [class.blurred]="!isAuthenticated">
          <img src="assets/profile.png" alt="Logo" class="logo-image" />
          <span class="button-text">My Profile</span>
        </button>

        <button class="button" routerLink="/app-home">
          <img src="assets/homepage.png" alt="Logo" class="logo-image" />
          <span class="button-text">Homepage</span>
        </button>
        <button class="button" [class.blurred]="!isAuthenticated" routerLink="/app-pending-requests">
          <img src="assets/sent-request.png" alt="Logo" class="logo-image" />
          <span class="button-text">My Requests</span>
        </button>

        <button class="button" [class.blurred]="!isAuthenticated" (click)="goToSettings()">
          <img src="assets/settings.png" alt="Logo" class="logo-image" />
          <span class="button-text">Settings</span>
        </button>

        <div style="position: absolute; z-index: 10;">
          <div class="popup" *ngIf="showSettings" style="position: relative; top:-20px; left:50px;
    border: 1px solid black;">
            <app-settings ></app-settings>
          </div>
        </div>

        <button
          class="button"
          [class.blurred]="!isAuthenticated"
          (click)="logOut()"
          style="margin-bottom: 50px"
        >
        <img src="assets/logout.png" alt="Logo" class="logo-image" />
        <span class="button-text">Log out</span>
        </button>
        <button
          class="button"
          routerLink="/app-poll-request"
          style="background-color: #e57f84; color: #FFF; transition: background-color 0.2s;"
          [class.blurred]="!isAuthenticated"
          onmouseover="this.style.backgroundColor='#c55d63';"
          onmouseout="this.style.backgroundColor='#e57f84';"
        >
        <img src="assets/create-poll-request.png" alt="Logo" class="logo-image" />
        <span class="button-text">New Poll Request</span>
        </button>
      </div>
    </div>
  </body>
</html>
