<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="post-widget" style="display: grid; grid-template-columns: repeat(2, 1fr); align-items: start;">
            <img class="user-avatar" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?cs=srgb&dl=pexels-pixabay-415829.jpg&fm=jpg"
             alt="User Avatar" style="width:60px; height:60px; flex:1; border-radius: 50%;">
            <div class="post-content" style="display: flex; flex-direction: column; align-items: left;">
                <b class="name" style=" font-size: larger;">Jane</b>
                <p class="user-name" style="margin-top:2px;">@janesmith</p>
            </div>
        </div>
        <div class="buttons">
            <button class="button">My Profile</button>
            <button class="button">Homepage</button>
            <button class="button">Notifications</button>
            <button class="button" style="margin-bottom:40px;">Settings</button>
            <button class="button" style="background-color: #54798a;">Create a poll request</button>
        </div>
    </div>
</body>
</html>
