:host {
    font-family: 'Arial', sans-serif;
  }

  ::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: #202a40;
  }
  
  [mat-dialog-title] {
    color: white;
    text-align: center;
  }
  
  [mat-dialog-content] {
    margin-top: 16px;
    color: white;
  }
  
  mat-dialog-actions {
    justify-content: center;
    margin-top: 24px;
  }
  
  button {
    margin: 0 8px;
    background-color: #9DC0C4;
    color: #202a40;
    border: none;
    width: 70px;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 16px;
    margin-bottom: 8px;
    cursor: pointer;
  }