.faq-container {
  max-width: 1400px;
  margin: auto;
  border-radius: 15px;
}

.faq-question {
  border: none;
  margin-bottom: 10px;
  color: #232f44;
  font-size: 20px;
}

.faq-question-title {
  background-color: #9dc0c4;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
}
.faq-question-title.underline {
  text-decoration: underline; /* Add underline when the question is clicked */
}

.faq-answer {
  font-size: 18px;
  display: none;
  padding: 20px;
  line-height: 2;
  border: none;
  border-radius: 20px;
  background-color: #fff;
}

.faq-question.active .faq-question-title {
  color: #232f44;
}

.faq-question.active .faq-answer {
  display: block;
}

.faq-question.clicked .faq-question-title {
  color: #232f44;
  text-decoration: underline;
}

.arrow-logo {
  float: right;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  transition: transform 0.3s ease; /* Add a transition to the transform property */
}

.faq-question.active .arrow-logo {
  transform: rotate(
    90deg
  ); /* Rotate the arrow logo 180 degrees when the question is clicked */
}

.faq-question:hover .faq-question-title:not(.bullet-point) {
  text-decoration: underline;
}

