<!-- faq.component.html -->

<div class="faq-container">
  <div class="faq-questions">
    <div
      *ngFor="let faqItem of faqItems; let i = index"
      class="faq-question"
      [class.active]="isActive(i)"
      [class.clicked]="isActive(i)"
      (click)="toggleAnswer(i)"
    >
      <div class="faq-question-title">
        <span class="bullet-point">&#8226;</span>
        {{ faqItem.question }}
        <img src="assets/arrow-icon.png" alt="Arrow Logo" class="arrow-logo" />
      </div>
      <div
        class="faq-answer"
        *ngIf="isActive(i)"
        [innerHTML]="faqItem.answer"
      ></div>
    </div>
  </div>
</div>
