<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <h2 style="border-bottom: 2px solid #000; margin-bottom: 5px">Ranks</h2>
      <div class="buttons" style="overflow: auto; max-height: 250px">
        <button class="button" style="background-color: #CDF7F6">
          Football
        </button>
        <div class="rank-info">
          <b>#35654</b>
          <p style="margin: 0">(with %55 accuracy)</p>
        </div>
        <button class="button" style="background-color: #e57f84">
          Basketball
        </button>
        <div class="rank-info">
          <b>#102563</b>
          <p style="margin: 0">(with %5 accuracy)</p>
        </div>
        <button class="button" style="background-color: #187795">Sports</button>
        <div class="rank-info">
          <b>#132563</b>
          <p style="margin: 0">(with %32 accuracy)</p>
        </div>
      </div>
    </div>
  </body>
</html>
