<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <h2 style="border-bottom: 2px solid #000; margin-bottom: 5px">Ranks</h2>
      <div class="buttons" style="overflow: auto; max-height: 250px">
        <button
          class="button"
          *ngFor="let rank of ranks; let i = index"
          [ngStyle]="{ 'background-color': getColor(i) }"
        >
          {{ rank?.name }}
        </button>
        <div class="rank-info">
          <b>{{ranks[0]?.id}}</b>
        </div>

        <div
          *ngIf="ranks?.length === 0"
          style="text-align: center; color: rgb(44, 39, 39)"
        >
          This user doesn't have any ranks yet.
        </div>
      </div>
    </div>
  </body>
</html>
