/* Header Styles */
header {
    background-color: #232f44;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  .logo {
    font-size: 24px;
  }