<html lang="en">
  <body>
    <app-moderator-header></app-moderator-header>

    <div class="page-layout" style="padding-top: 80px;">
      <app-moderator-side-bar ></app-moderator-side-bar>
      <div class="container" style="padding: 40px; justify-self: center; margin-left: 240px;">
        <div class="moderator-requests">
          <button class="moderator-requests-column">
            User Report Requests
          </button>
        </div>
        <div *ngFor="let report of reports" class="poll-notification">
          <div class="username">Reporter: {{ report.reporter.username }}</div>
          <div class="question" style="cursor: pointer;" 
          (click)="navigateToProfile(report.reported.username)">Reported User: {{ report.reported.username }}</div>
          <div class="question">Reason: {{ report.reason }}</div>
          <div class="date">{{ report.creation_date }}</div>
          <button class="details-button" (click)="handleApproval(report.id)">Approve</button>
          <button class="disapprove-button">Disapprove</button>
        </div>
      </div>
    </div>
  </body>
</html>
