<html lang="en">
  <body>
    <app-moderator-header></app-moderator-header>

    <div class="page-layout" style="padding-top: 80px;">
      <app-moderator-side-bar></app-moderator-side-bar>

      <div class="review-section" style="padding: 40px; justify-self: center; margin-left: 240px; margin-right: 260px;
  margin-top: 20px;">
        <div class="poll-item">
          <span class="label">Submitted by:</span>
          <p class="info-text">{{username}}</p>
        </div>
        <div class="poll-item">
          <span class="label">Poll Question:</span>
          <p class="info-text">{{question}}</p>
        </div>
        <div class="poll-item" *ngIf="is_settled==1">
          <span class="label">Poll Outcome:</span>
          <p class="info-text">{{outcome.answer}}</p>
        </div>

        <div class="action-buttons">
          <button class="action-button approve-button" (click)="onApprove()">Approve</button>
          <button class="action-button reject-button" (click)="onReject()">Reject</button>
        </div>
      </div>
    </div>
  </body>
</html>
