html,
body {
  background-color: #89b1b6;
 display: flex;
 flex-direction: column;
 height: 100%;
 overflow: auto;
}


.page-layout {
  display: flex;
}

/* Style for review sections */
.review-container {
  position: relative;
  background-color: #202a40;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: calc(80% - 300px);
  align-items: left;
}

.review-container h3 { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: #f4eae6;
  align-self: center;
  padding-bottom: 10px;
}

.review-container p { 
  margin-left: 20px;
  font-size: 16px;
}

/* Style for individual poll items */
.poll-item {
  background-color: #f4eae6;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 14px;
}

/* Buttons for actions like approve or reject */
.action-button {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.approve-button {
  width: 100px;
  background-color: #63989f;
  color: white;
  transition: background-color 0.2s;
  margin-right: 20px;
}

.approve-button:hover {
  background-color: #486c73;
}

.reject-button {
  width: 100px;
  background-color: #E57F84;
  color: white;
  transition: background-color 0.2s;
}

.reject-button:hover {
  background-color: #c55d63;
}

/* Style for informational text */
.info-text {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style for labels */
.label {
  font-weight: bold;
  margin-bottom: 5px;
}

