<html lang="en">
  <body style="padding-top: 80px;">
    <app-header></app-header>

    <div class="page-layout">
      <app-side-bar></app-side-bar>
      <div class="container" style="justify-self: center; margin-left: 240px;">
        <div class="user-requests">
          <button class="user-requests-column" [class.active]="activeButton === 'PollCreationRequests'" (click)="onPollCreationReq()">
            Poll Creation Requests
          </button>

          <button class="user-requests-column" [class.active]="activeButton === 'OutcomeVerificationRequests'" (click) ="onOutcomeVerifiationReq()" >
            Poll Outcome Requests
          </button>
          
        </div>
        <div *ngFor="let poll of polls" class="poll-notification">
            <div class="question">{{ poll.question }}</div>
            <div class="date">{{ poll.creation_date }}</div>
            <button class="disapprove-button" (click) = "deletePoll(poll.id)">Cancel Request</button>
          </div>
          <app-scroll-to-top-button></app-scroll-to-top-button>
      </div>
    </div>
  </body>
</html>
