.container {
  width: calc(80% - 300px);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 25px;
}

.page-layout {
  display: flex;
}

.poll-notification {
  background-color: #63989f;
  margin-bottom: 15px;
  padding: 20px;
  width: calc(100% - 40px);
  border-radius: 10px;
  text-align: left;
  position: relative;
}

.username {
  font-weight: bold;
  margin-bottom: 10px;
}

.question {
  margin-bottom: 15px;
}

.details-button {
  background-color: #374968;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.2s;
}

.details-button:hover {
  background-color: #202A40;
}

.disapprove-button {
  background-color: #E57F84;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.disapprove-button:hover {
  background-color: #c55d63;
}

.date {
  color: #555;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
