<div class="text-left"> <!-- Change class to text-left -->
  <div class="custom-file-input">
    <input class="form-control" type="file" (change)="onChange($event)">
    <label for="fileInput" class="custom-file-label">
      Choose Photo
    </label>
  </div>

  <div style="margin-top: 10px;">
    <button (click)="onUpload()" class="button" style="background-color: #202A40; color: #fff; border-radius: 16px; width: 100px; padding: 8px; transition: background-color 0.2s;" onmouseover="this.style.backgroundColor='#34495e'" onmouseout="this.style.backgroundColor='#202A40'">
      Upload
    </button>
  </div>
</div>