.custom-file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .custom-file-input input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .custom-file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #E57F84;
    color: white;
    padding: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
  }
  
  .custom-file-label:hover {
    background-color: #c55d63;
  }
  

  