<div>
    <div>
      <ngx-annotate-text
        [(annotations)]="annotations"
        [removable]="false"
        [text]="text"
        annotationClass="my-annotation"
        (clickAnnotation)="onClickAnnotation($event)"
        (removeAnnotation)="onRemoveAnnotation($event)"
        (mouseover)="onMouseOverAnnotation($event)"
        (mouseout)="onMouseOutAnnotation($event)"
        #annotateText
      > 
      </ngx-annotate-text>
      <button *ngIf="!enterAnnotation"
      class="button"
      style="margin-bottom: 10px; margin-top: 10px;"
      (click)="showInput()"
    >
      Add Annotation
    </button>
    </div>
   
  
  </div>
  
  <div *ngIf="enterAnnotation">
    <input
      type="text"
      class="form-control"
      style="margin-bottom: 10px; margin-top: 10px;"

      [(ngModel)]="newAnotation"
      placeholder="Enter annotation"
    />
    <button
    type="button"
    class="btn btn-primary me-2"
    (click)="addAnnotation(newAnotation)"
  >
    Submit
  </button>
  <button
    type="button"
    class="btn btn-primary me-2"
    (click)="closeInput()"
  >
    Quit
  </button>
  </div>
  