
.popup-options:hover {
    background-color: #96b7bb !important;
    border-radius: 50% !important; 
  }
  
  .popup {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 180px;
    z-index: 900;
    float: right;
    cursor: pointer;
    background-color: #9dc0c4;
    border-radius: 5px;
    padding: 8px;
  }
  
  .popup .popuptext {
    margin: 2px;
    visibility: visible;
    animation: fadeIn 1s;
    width: 160px;
    color: #202a40;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    z-index: 1;
    transition: background-color 0.2s; 
  }
  
  .popup .popuptext:hover {
    visibility: visible;
    background-color: #96b7bb;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  