.follower-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px; /* Set a maximum height for the follower list */
  max-width: 300px; 
  overflow-y: auto; /* Add a vertical scrollbar when needed */
}

.follower-item {
  margin-bottom: 10px;
}

.follower-item p {
  margin: 0;
  width: 150px;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}


.follower-item p:hover {
  background-color: #e0e0e0;
  color: #333;
}
