body {
  background-color: #9dc0c4;
  height: 70%;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #202a40;
  padding: 25px;
  margin: 0;
  color: #f7f3f3;
}

.poll-image {
  max-width: 50%; /* Ensures the image is responsive */
  height: auto;    /* Maintains the aspect ratio */
  border-radius: 10px; /* Optional, for rounded corners */
  margin-bottom: 10px; /* Spacing below the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #374968;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  color: #fff;
  border: none;
}
.question:hover {
  text-decoration: underline;
}

.comment:hover {
  text-decoration: underline;
}

.heart-image {
  padding: 2px;
  vertical-align: middle;
}

.popup-options:hover {
  background-color: #374968;
  border-radius: 10px;
}

.popup {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1000;
  float: right;
  cursor: pointer;
  margin-right: px;
  border-radius: 5px;
}

.popup .popuptext {
  margin: 2px;
  visibility: visible;
  animation: fadeIn 1s;
  width: 160px;
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  z-index: 1;
}

.popup .popuptext:hover {
  visibility: visible;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
