<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .button.clicked {
        background-color: #b74f6f !important;
        color: white;
      }
    </style>
  </head>
  <body style="margin-top: 20px">
    <div class="container" style="position: relative">
      <img
        [class.blurred]="!isAuthenticated"
        class="popup-options"
        style="float: right; width: 4%; height: 100%; cursor: pointer"
        src="assets/three-dots.png"
        (click)="openPopup()"
      />
      <div class="popup" *ngIf="showPopup">
        <div class="popuptext" (click)="openConfirmationDialog()">
          Delete Poll
        </div>
        <div class="popuptext">Report User</div>
      </div>

      <div class="post-widget" style="display: flex; align-items: start">
        <img
          class="user-avatar"
          [src]="creator?.profile_picture || 'assets/unknown.jpg'"
          alt="User Avatar"
          style="
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 5px;
            margin-top: 5px;
          "
        />
        <div
          (click)="navigateToProfile(creator.username)"
          class="post-content"
          style="
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left: 5px;
            cursor: pointer;
          "
        >
          <b class="name" style="font-size: small; margin-top: 12px">{{
            creator.firstname
          }}</b>
          <p class="user-name" style="font-size: small; margin-top: 3px">
            &#64;{{ creator.username }}
          </p>
        </div>
      </div>
      <h3 class="question" style="cursor: pointer" (click)="navigateToPoll()">
        {{ question }}
      </h3>
      <div style="display: flex; justify-content: space-between">
        <div>
          <!-- The algorithm written below will be changed later  -->
          <button
            *ngFor="let tag of tags; let i = index"
            [ngStyle]="{
              'background-color': getColor(tag.name.length + tags.length)
            }"
            style="
              width: auto;
              height: 25px;
              cursor: pointer;
              border-radius: 15px;
              font-size: smaller;
              margin-bottom: 10px;
              margin-right: 5px;
              border: none;
            "
            (click)="goToTag(tag.name)"
          >
            {{ tag.name }}
          </button>
        </div>
        <p style="text-align: right; font-size: smaller">
          {{ vote_count }} Vote(s)
        </p>
      </div>

      <div>
        <button
          *ngFor="let option of options; let i = index"
          class="button"
          #buttonRef
          id="'button' + i"
          (click)="toggleButton(buttonRef)"
          [disabled]="selectedButton != buttonRef && selectedButton != null"
        >
          {{ option.answer }}
        </button>
      </div>

      <input type="hidden" [(ngModel)]="isLikedBy" name="isLiked" />

      <div style="display: flex; justify-content: space-between">
        <div
          [class.blurred]="!isAuthenticated"
          style="
            cursor: pointer;
            font-size: smaller;
            margin-bottom: 10px;
            margin-top: 20px;
            vertical-align: middle;
            height: 35 px;
          "
          (click)="toggleLike()"
        >
          <img *ngIf="isLikedBy" src="assets/heart2.png" class="heart-image" />
          <img *ngIf="!isLikedBy" src="assets/heart1.png" class="heart-image" />
          {{ nofLikes }} Like(s)
        </div>

        <p
          style="
            text-align: center;
            margin-right: 60px;
            margin-top: 26px;
            font-size: small;
          "
        >
          {{ comment_count }} Comment(s)
        </p>
        <p style="text-align: right; margin-top: 26px; margin-right: 5px">
          {{ creation_time }}
        </p>
      </div>
    </div>
  </body>
</html>
