<!DOCTYPE html>
<html>
  <head>
    <title>Prediction Poll</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
  </head>
  <body>
    <header>
      <h1 style="text-align: center"> Prediction Poll Practice App - Group 3</h1>
    </header>
    <main>
      <section class="blog-posts">
        <article>
          <a href="./index.html"><img src="../static/images/image1.jpg" alt="Blog Post 1"></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image2.jpg" alt="Blog Post 2"></a>
          <p>Suspendisse tristique erat nec augue feugiat tincidunt.</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image3.jpg" alt="Blog Post 3"></a>
          <p>Vestibulum et tincidunt justo. Etiam placerat, velit vel efficitur varius, enim purus lobortis est, a rhoncus lectus nisl non ante.</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image4.jpg" alt="Blog Post 4"></a>
          <p>Mauris vehicula, velit ac viverra pellentesque, lorem dolor maximus massa, eget congue sapien felis at ante.</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image5.jpg" alt="Blog Post 5"></a>
          <p>Donec lobortis convallis dolor, a semper mauris suscipit ac.</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image6.jpg" alt="Blog Post 6"></a>
          <p>Aliquam fermentum orci vel elit blandit, at luctus nulla tincidunt.</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image7.jpg" alt="Blog Post 7"></a>
          <p>Curabitur ultrices, magna eget consectetur laoreet, purus nunc accumsan nunc, at tristique mauris lectus eget sapien.</p>
        </article>
        <article>
          <a href="./weather/"><img src="../static/images/image8.jpg" alt="Blog Post 8"></a>
          <p>Weather Forecast and Air Quality App - Beyza Akçınar</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image9.jpg" alt="Blog Post 9"></a>
          <p>Cras volutpat orci vel sapien iaculis, eu pharetra neque rhoncus.</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image10.jpg" alt="Blog Post 10"></a>
          <p>Praesent in magna tristique, consectetur quam vitae, rhoncus est.</p>
        </article>
        <article>
          <a href="./index.html"><img src="../static/images/image11.jpg" alt="Blog Post 11"></a>
          <p>Integer sit amet neque vestibulum, mattis tellus ut, aliquet sapien.</p>
        </article>
      </section>
    </main>
  </body>
</html>
