<html lang="en">
  <body>
    <app-header></app-header>
    <div class="page-layout">
      <app-side-bar></app-side-bar>
      <div class="container" style="position: relative; padding: 40px">
        <div style="text-align: right">
          <button
            class="button"
            style="
              width: 100px;
              display: inline-block;
              margin-right: 5px;
              border: none;
              background-color: #63989f;
              color: #fff;
            "
            (click)="settledPolls(false)"
          >
            Ongoing
          </button>
          <button
            class="button"
            style="
              width: 100px;
              display: inline-block;
              background-color: #374968;
              border: none;
              color: #fff;
            "
            (click)="settledPolls(true)"
          >
            Settled
          </button>
        </div>

        <form
          action="/search"
          method="GET"
          style="margin-bottom: 15px; margin-top: 20px"
        >
          <div style="position: relative">
            <img
              src="assets/search-icon.png"
              alt="Search Icon"
              style="
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
              "
            />
            <input
              id="searchInput"
              style="border-radius: 15px; text-align: left; padding-left: 30px"
              placeholder="What are you looking for?"
            />
          </div>
        </form>

        <div class="user-polls">
          <button
            class="user-polls-column"
            [class.blurred]="!isAuthenticated"
            (click)="followingPolls()"
          >
            Following
          </button>
          <button class="user-polls-column" (click)="trendingPolls()">
            Trending
          </button>
        </div>

        <div>
          <app-poll *ngFor="let poll of polls" [pollId]="poll.id"></app-poll>
        </div>
      </div>
      <div style="display: flex; flex-direction: column">
        <app-tags-bar></app-tags-bar>
        <app-leaderboard-bar></app-leaderboard-bar>
      </div>
    </div>
  </body>
</html>
