.page-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
.container {
  align-items: center;
  background-color: #9dc0c4;
  padding: 20px;
  border: 1px solid #1b1818;
  border-radius: 15px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
.user-polls-column {
  height: 40px;
  border: 2px solid #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.button {
  display: block;
  width: 120px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #d1e0e7;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #1b1818;
  cursor: pointer;
}
