<html lang="en">
  <body>
    <app-moderator-header></app-moderator-header>

    <div class="page-layout">
      <app-moderator-side-bar></app-moderator-side-bar>
      <div class="container" >
        <div class="moderator-requests">
          <button class="moderator-requests-column" (click)="onPollCreationReq()">
            Poll Creation Requests
          </button>
          <button class="moderator-requests-column" (click) ="onOutcomeVerifiationReq()">
            Outcome Verification Requests
          </button>
        </div>
        <div *ngFor="let poll of polls" class="poll-notification">
          <div class="username">{{ poll.creator.username }}</div>
          <div class="question">{{ poll.question }}</div>
          <div class="date">{{ poll.creation_date }}</div>
          <button class="details-button" (click)="navigateToDetailedView(poll.id)">See Details</button>
          <button class="disapprove-button" (click) = "deletePoll(poll.id)">Disapprove</button>
        </div>
      </div>
    </div>
  </body>
</html>
