html,
body {
  background-color: #89b1b6;
 display: flex;
 flex-direction: column;
 height: 100%;
 overflow: auto;
}

.container {
  background-color: #202a40;
  width: calc(80% - 315px);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 25px;
  min-height: 1000px;
}
.page-layout {
  display: flex;
}

.poll-notification {
  background-color: #89b1b6;
  margin-bottom: 15px;
  padding: 20px;
  width: calc(100% - 40px);
  border-radius: 10px;
  text-align: left;
  position: relative;
}

.username {
  font-weight: bold;
  margin-bottom: 10px;
}

.question {
  margin-bottom: 15px;
}

.details-button {
  background-color: #374968;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.2s;
}

.details-button:hover {
  background-color: #202A40;
}

.disapprove-button {
  background-color: #63989f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.disapprove-button:hover {
  background-color: #486c73;
}

.date {
  color: #444;
  position: absolute;
  font-weight: bolder;
  top: 0;
  right: 0;
  margin: 10px;
}

.moderator-requests {
  display: flex;
}

.moderator-requests-column {
  background-color: #9DC0C4;
  border: solid #202A40 1px;
  color: #202A40;
  padding: 10px 15px;
  margin: 0;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.moderator-requests-column:hover {
  background-color: #7a9ea5;
  text-decoration: underline;
}

.moderator-requests-column.active {
  background-color: #9DC0C4; /* Change the background color for the active button */
  text-decoration: underline;
}

.button-text {
  font-size: 16px;
}
