<html lang="en">
  <body style="padding-top: 80px;">
    <app-moderator-header></app-moderator-header>

    <div class="page-layout">
      <app-moderator-side-bar></app-moderator-side-bar>
      <div class="container" style="padding: 40px; justify-self: center; margin-left: 240px;">
        <div class="moderator-requests">
          <button class="moderator-requests-column" (click)="onPollCreationReq()" style="border: solid 1px; transition: background-color 0.2s;">
            Poll Creation Requests
          </button>
          <button class="moderator-requests-column" (click) ="onOutcomeVerifiationReq()" style="border: solid 1px; transition: background-color 0.2s; ">
            Outcome Verification Requests
          </button>
        </div>
        <div *ngFor="let poll of polls" class="poll-notification">
          <div class="username">{{ poll.creator.username }}</div>
          <div class="question">{{ poll.question }}</div>
          <div class="date">{{ poll.creation_date }}</div>
          <button class="details-button" (click)="navigateToDetailedView(poll.id)">See Details</button>
          <button class="disapprove-button" (click) = "handleDisapprove(poll.id)">Disapprove</button>
        </div>
      </div>
    </div>
  </body>
</html>
