<html lang="en">
  <body>
    <app-moderator-header></app-moderator-header>

    <div class="page-layout">
      <app-moderator-side-bar></app-moderator-side-bar>
      <div class="container">
        <div class="moderator-requests">
          <button class="moderator-requests-column">
            Poll Creation Requests
          </button>
          <button class="moderator-requests-column">
            Outcome Verification Requests
          </button>
        </div>
        <div *ngFor="let poll of polls" class="poll-notification">
          <div class="username">{{ poll.creator.username }}</div>
          <div class="question">{{ poll.question }}</div>
          <div class="date">{{ poll.creation_date }}</div>
          <button class="details-button">See Details</button>
          <button class="disapprove-button">Disapprove</button>
        </div>

        <div class="poll-notification">
          <div class="username">johndoe</div>
          <div class="question">Who will be the next James Bond?</div>
          <div class="date">10m</div>
          <button class="details-button">See Details</button>
          <button class="disapprove-button">Dissapprove</button>
        </div>
        <div class="poll-notification">
          <div class="username">janesmith</div>
          <div class="question">Who will the Champion this year?</div>
          <div class="date">20m</div>
          <button class="details-button">See Details</button>
          <button class="disapprove-button">Dissapprove</button>
        </div>
      </div>
    </div>
  </body>
</html>
