<html lang="en">
  <body>
    <app-header></app-header>
    <div class="page-layout">
      <app-side-bar></app-side-bar>
      <div class="container" style="position: relative; padding: 40px">
        <div class="post-widget" style="display: flex; align-items: start">
          <img
            class="user-avatar"
            src="assets/unknown.jpg"
            alt="User Avatar"
            style="
              width: 90px;
              height: 90px;
              border-radius: 50%;
              margin-right: 5px;
            "
          />
          
          <ng-container *ngIf="!isEditing; else editMode">
            <div class="post-content">
              <b class="name" style="font-size: xx-large; padding-top: 10px">{{
                this.firstname
              }}</b>
              <p class="user-name" style="margin-top: 2px">
                &#64;{{ this.username }}
              </p>
            </div>

            <button
            class="edit-button"
            style="
              background-color: #63989f;
              border: none;
              width: 100px;
              color: #fff;
            "
            (click) = "toggleEdit()"
          > Edit Profile </button>
          </ng-container>
          <ng-template #editMode>
            <input [(ngModel)]="editedUsername" type="text" class="edit-username" 
            style="border-radius: 10px;background-color: #79abb1; border: none; height: 30px;color: #fff;" placeholder="Enter your name"/>
            <button class="edit-button" style=" background-color: #63989f; border: none;color: #fff;"(click)="editProfile()">Save</button>
          </ng-template>



        </div>

        <div style="margin-bottom: 15px; margin-top: 10px; text-align: center">
          <p class="follow-text" style="margin-right: 100px">
            <b>{{ this.nofFollowees }}</b> followings
          </p>
          <p class="follow-text">
            <b>{{ this.nofFollowers }}</b> followers
          </p>
        </div>
        <div class="user-polls">
          <button class="user-polls-column" (click)="createdPolls()">
            Created
          </button>
          <button class="user-polls-column" (click)="likedPolls()">
            Liked
          </button>
          <button class="user-polls-column" (click)="votedPolls()">
            Voted
          </button>
        </div>
        <div>
          <app-poll *ngFor="let poll of polls" [pollId]="poll.id"></app-poll>
        </div>
      </div>
      <div style="display: flex; flex-direction: column">
        <app-ranks-bar></app-ranks-bar>
        <app-badges-bar [userId]="user_id"></app-badges-bar>
      </div>
    </div>
  </body>
</html>
