<html lang="en">
  <body style="padding-top: 80px;">
    <app-header></app-header>
    <div class="page-layout">
      <app-side-bar></app-side-bar>
      <div class="container" style="padding: 40px; justify-self: center; margin-left: 240px; margin-right: 260px;">

        <div class="post-widget" style="display: flex; align-items: start">
          
         
          <ng-container *ngIf="!isEditing; else editMode">
            <img
            class="user-avatar"
            [src]="this.profile_picture != null ? this.profile_picture : 'assets/unknown.jpg'"
            alt="User Avatar"
            style="
              width: 90px;
              height: 90px;
              border-radius: 50%;
              margin-right: 5px;
            "
          />
            <div class="post-content">
              <b class="name" style="font-size: xx-large; padding-top: 10px; line-height: 1;">{{
                this.firstname 
              }} {{ this.lastname }}</b>
              <p class="user-name" style="margin-top: 4px">
                &#64;{{ this.username }}
              </p>
            </div>

          <button
            class="edit-button"
            (click) = "toggleEdit()"
          > Edit Profile </button>
          </ng-container>
          <ng-template #editMode>
            <div style="display: flex; justify-content: space-between; align-items: start;  width: 100%;">
              <div style="margin-right: 20px;">
                <app-file-upload (shortLinkEmitter)="receiveShortLink($event)" style="text-align: center;"></app-file-upload>
              </div>
              <div style="display: flex; flex-direction: row;">
                <div style="margin-top: 10px; margin-right: 300px;display: flex; flex-direction: column;">
                  <input [(ngModel)]="editedFirstname" type="text" class="edit-username" placeholder="Enter your first name" style=" margin-bottom: 10px ;"/>
                  <input [(ngModel)]="editedLastname" type="text" class="edit-username" placeholder="Enter your last name"/>
                </div>
                <div style="display: flex; flex-direction: column;">
                  <button class="edit-button" (click)="editProfile()">Save</button>
                  <button class="cancel-button" (click)="cancelEdit()">Cancel</button>
                </div>
              </div>
            </div>
          </ng-template>
          


        </div>

        <div style="margin-bottom: 15px; margin-top: 10px; text-align: center; display: flex; justify-content: center; position: relative;">

          <!-- Following Section -->
          <p #followeesText class="follow-text" style="margin-right: 20px; cursor: pointer;" (click)="toggleFollowees()">
            <b>{{ this.nofFollowees }}</b> followings
          </p>
          <div *ngIf="showFollowees" class="popup" [style.top.px]="getPopupTop(followeesText)" [style.left.px]="getPopupTop(followeesText).left -110" style="position: absolute; border: 1px solid #232F44; width: 200px;">
            <app-follow-list [followList]="followList" [title]="'Following'"></app-follow-list>
          </div>
        
          <!-- Followers Section -->
          <p #followersText class="follow-text" style="cursor: pointer;" (click)="toggleFollowers()">
            <b>{{ this.nofFollowers }}</b> followers
          </p>
          <div *ngIf="showFollowers" class="popup" [style.top.px]="getPopupTop(followersText)" [style.left.px]="getPopupTop(followersText).left-110" style="position: absolute; border: 1px solid #232F44; width: 200px;">
            <app-follow-list [followList]="followList" [title]="'My Followers'"></app-follow-list>
          </div>
        </div>
        

        <div class="user-polls">
          <button class="user-polls-column" [class.active]="clickedButton === 'created'" (click)="createdPolls()">
            Created
          </button>
          <button class="user-polls-column" [class.active]="clickedButton === 'liked'" (click)="likedPolls()">
            Liked
          </button>
          <button class="user-polls-column" [class.active]="clickedButton === 'voted'" (click)="votedPolls()">
            Voted
          </button>
        </div>
        <div>
          <div *ngFor="let poll of polls">
            <ng-container *ngIf="!poll.is_settled; else settledPoll">
              <app-poll [pollId]="poll.id"></app-poll>
            </ng-container>
            <ng-template #settledPoll>
              <app-settled-poll [pollId]="poll.id"></app-settled-poll>
            </ng-template>
          </div>
        </div>
        <app-scroll-to-top-button></app-scroll-to-top-button>
      </div>
      <div class="fixed-elements" style="display: flex; flex-direction: column">
        <app-ranks-bar [userId]="user_id"></app-ranks-bar>
        <app-badges-bar [userId]="user_id"></app-badges-bar>
      </div>
    </div>
  </body>
</html>
