.page-layout {
    display: flex;
    flex-direction: row;
    gap:20px;
    width: 100%;
}
.container {
    align-items: center;
    background-color: #8fc6df; 
    padding: 20px; 
    border: 1px solid #1b1818; 
    border-radius: 15px; 
    width: 100%; 
    margin: 0 auto; 
    margin-top: 10px;
}
.image {
    max-width: 100%;
    height: 100%;
}
.user-polls-column{
    flex: 1;
    border: 1px solid #000000;
    text-align: center;
}
.poll {
    display: flex;
    flex-direction: column;
    background-color: #86b1e0; 
    border: 1px solid #1b1818; 
    border-radius: 15px; 
    width: 80%; 
    padding: 10%;
    height: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button {
    display: block;
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #d1e0e7;
    text-align: center;
    border-radius: 15px; 
    border: 1px solid #1b1818; 
}

.follow-text {
    display: inline-block;
    border-bottom: 2px solid #000; margin-bottom: 5px;
}