<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <h2 style="border-bottom: 2px solid #000; margin-bottom: 5px">
        Leaderboard
      </h2>
      <div class="buttons" style="margin-top: 0px;overflow: auto; max-height: 250px;">
        <p>1. koksalbaba</p>
        <p>2. gamer43</p>
        <p>3. villeva</p>
        <p>4. harrison</p>
        <p>5. whitevader</p>
        <p>6. jennifer495</p>
      </div>
    </div>
  </body>
</html>
