<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <app-header></app-header>
    <div class="page-layout">
      <app-side-bar></app-side-bar>
      <div class="poll-container">
        <app-poll [pollId]="pollId"></app-poll>
        <div class="poll-comments">
          <div class="comment-input-container">
            <input type="comment" id="description" name="description"  
            [(ngModel)]="description"
            placeholder="Add a comment..." />
            <button type="submit" (click)="makeComment()">Comment</button>
          </div>
          <div class="all-comments-container">
            <div class="comment-wrapper" *ngFor="let comment of comments; let i=index">
              <div class="comment-user">
                <img src="user-avatar.png" alt="User Avatar" />
                <span class="user-info">
                  <p>&#64;{{ comment.user.username }} • Date</p>
                </span>
              </div>
              <p>{{ comment.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
