<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <app-header></app-header>
    <div class="page-layout">
      <app-side-bar></app-side-bar>
      <div class="poll-container">
        <app-poll [pollId]="pollId"></app-poll>
        <div class="poll-comments">
          <div
            [class.blurred]="!isAuthenticated"
            class="comment-input-container"
          >
            <input
              type="comment"
              id="description"
              name="description"
              [(ngModel)]="description"
              placeholder="Add a comment..."
            />
            <button
              [class.blurred]="!isAuthenticated"
              type="submit"
              (click)="makeComment()"
            >
              Comment
            </button>
          </div>
          <div class="all-comments-container">
            <div
              class="comment-wrapper"
              *ngFor="let comment of comments; let i = index"
              style="position: relative"
            >
              <div class="comment-user">

                <img [src]="comment.user?.profile_picture || 'user-avatar.png'" alt="User Avatar" />
                <span class="user-info">
                  <p>&#64;{{ comment.user.username }} • Date</p>
                </span>
                <img
              [class.blurred]="!isAuthenticated"
              class="popup-options"
              style="position: absolute; right: 2px ; width: 4%; height: 30%; cursor: pointer; background-color: #e1e8ed;"
              src="assets/three-dots.png"
              (click)="openPopup(comment.id)"
            />
            <div class="popup" *ngIf="isPopupOpen(comment.id)" style="background-color: #c8d5de;">
              <div class="popuptext" (click)="deleteComment(comment.id)">
                Delete Comment
              </div>
              <div class="popuptext">Report Comment</div>
            </div>
              </div>
              <p>{{ comment.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
