<!DOCTYPE html>
<html lang="en">
<head>
  	<title>My Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 3px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender;" class="jumbotron text-center bg-primary">
			<h2>My Account</h2>
			</div>
			</div>
			<div class="container">
                        <table class="table table-bordered">
                        <colgroup>
			                <col span="1" style="width: 50%;">
			                <col span="1" style="width: 35%;">
			                <col span="1" style="width: 15%;">
			            </colgroup>
                            <tbody>
                               		<tr>
                                    <td><p style="text-align:center">Username: </p></td> 
                                    <td><p style="text-align:center">{{username}}</p></td> 
                                    </tr>
                                	<tr>
                                    <td><p style="text-align:center">Password: </p></td>
                                    <form action="/OnlineShopping/myAccount/" method="post" novalidate action="myAccount">
                                        {%csrf_token%}
                                    <td><input class="form-control" type="password" name="passw" id="passw" ></td>
                                    <td><button class="btn btn-primary">Change Password</button></td></form>
                                    <tr>
                                        <form action="/OnlineShopping/myAccount/" method="get">
                                        <td><p style="text-align:center">{{visible}}</p></td> 
                                        <td><button class="btn btn-primary" >See Password</button></td></form>
                                        </tr>
                            </tbody>             
                        </table>  
                        <div class="text-center">
                        <form action="/OnlineShopping/dataReq/" method="get">
                            <button class="btn btn-primary" >Get Data</button></form>
                            </div>
                            
                        </div> 
			    	             
    <a href="/OnlineShopping/home/"> <p style="text-align:center">Back</p></a>
</body>
</html>


