.container {
  align-items: center;
  width: 100%;
}

.user-avatar-style {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 5px;
}

.post-widget-style {
  display: flex;
  align-items: flex-start;
}

.name-style {
  font-size: xx-large;
}

.follow-text-right {
  margin-right: 100px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.follow-button {
  width: 100px;
  padding: 8px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: auto;
}

.user-polls {
  display: flex;
}

.user-polls-column {
  background-color: #9DC0C4;
  border: solid #202A40 1px;
  color: #202A40;
  padding: 10px 15px;
  margin: 0;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.user-polls-column.active {
  border: solid #202A40 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.button-text {
  font-size: 16px;
}
