.container {
  align-items: center;
  width: 100%;
}

.user-avatar-style {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 5px;
}

.post-widget-style {
  display: flex;
  align-items: start;
}

.name-style {
  font-size: xx-large;
}

.follow-text-right {
  margin-right: 100px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.follow-button {
  width: 100px;
  padding: 8px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: auto;
}
