body {
  background-color: #89b1b6;
}
.container {
  background-color: #202a40;
  color: #f4eae6;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  text-align: left;
  padding-top: 20px;
  margin-left: 20px;
  width: 200px;
}

.button {
  background-color: #63989f;
  border: none;
}
