.container {
  flex: 1;
  align-items: center;
  background-color: #9dc0c4;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  width: 100%;
}

.button {
  width: 100px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #232f44;
  color: #fff;
  border-radius: 18px;
  border: none;
}

button[disabled] {
  background-color: #9a9a9a;
  color: #202a40;
  cursor: not-allowed;
}

.tag-item, .option-item {
  margin-left: 7px;
  align-items: center;
  margin-bottom: 10px;
}

.tag-input-container, .option-input-container{
  display: flex;
  align-items: center;
}

.delete-button {
  width: 25px;
  height: 25px;
  padding: 0;
  color: #fff;
  background-color: #232f44;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  width: 25px;
  height: 25px;
  padding: 0;
  color: #fff;
  background-color: #232f44;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


/* Style for the SVG icon */
.delete-button svg {
  width: 15px;
  height: 15px;
  fill: white;
  cursor: pointer;
}

.add-button svg {
  width: 15px;
  height: 15px;
  fill: white;
  cursor: pointer;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue', sans-serif;
  background-color: #202a40;
}

.page-layout {
  display: flex;
  gap: 20px;
  width: 100%;
}

.post-widget {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.poll-create-section {
  text-align: center;
}

.poll-info {
  width: calc(100% - 30px);
  height: 30px;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
}

.info-container {
  background-color: #9dc0c4;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-height: 200px;
  max-height: 560px;
}

.info-container p {
  margin-left: 20px;
  margin-right: 20px;
  color: #202a40;
  font-size: 16px;
}
