<html lang="en">
  <body>
    <app-header></app-header>
    <div class="page-layout">
      <app-side-bar></app-side-bar>
      <div class="container" style="position: relative">
        <div class="post-widget" style="display: flex; align-items: start">
          <!-- User avatar and information -->
        </div>

        <!-- Poll creation section -->
        <div class="poll-create-section" style="text-align: center">
          <h2>Create a New Poll Request</h2>
          <form [formGroup]="pollForm">
            <label for="" style="text-align: left;margin-top: 40px;"><b>Provide a poll question:</b></label>
            <input
              class="poll-info"
              type="text"
              name="question"
              formControlName="question"
              placeholder="Enter the Poll Question"
              style="margin-bottom: 30px;"
            />

            <!-- Add Tags -->
            <div formArrayName="tags">
              <label for="" style="text-align: left;"><b>Poll tags:</b></label>
              <div *ngFor="let tag of tags.controls; let i = index">
            
                <input
                  class="poll-info"
                  type="text"
                  [formControlName]="i"
                  placeholder="Enter a tag"
                />
              </div>
            </div>
            <div style="display: flex; justify-content: center">
              <button class="button" (click)="addTag()">Add Tag</button
              >
            </div>

            <!-- Add Options -->
            <label for="options" style="text-align: left;"><b>Poll Options:</b></label>
            <div formArrayName="options">
              <div *ngFor="let option of options.controls; let i = index">
                <input
                  class="poll-info"
                  type="text"
                  [formControlName]="i"
                  [placeholder]="'Option ' + (i + 1)"
                />
              </div>
            </div>
            <div style="display: flex; justify-content: center">
              <button class="button" (click)="addOption()">Add Option</button
              >
            </div>

            <label for="" style="text-align: left;"><b>Choose a deadline:</b></label>
            <input
              class="poll-info"
              type="date"
              formControlName="due_date"
              placeholder="Enter due date"
              style="margin-bottom: 40px;"
            />

            <div style="display: flex; justify-content: center">
              <button
                class="button"
                type="submit"
                style="width: 150px; height: 40px; background-color: #232F44"
                (click)="onSubmit()"
              >
                Send for approval
              </button>
              <button
                class="button"
                type="button"
                style="width: 150px; height: 40px; background-color: #C1666B"
                (click)="reload()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="info-container">
        <h2 style="border-bottom: 2px solid #000; margin-bottom: 5px">Rules</h2>
        <p>Please do not forget that Poll'up only allows the poll questions whose answer is not known at the moment but is most likely to be known in the future.</p>
        <p>- Please provide the poll question, options, deadline, and at least one tag.</p>  
        <p>- Send the request and wait until the request is accepted by one of our Moderators.</p>  
        <p>- Moderator reviews your request and if it complies with our rules, approves the request.</p>  
        <p>- Now, you can see your newly created poll under created poll in your profile page, and enjoy your polling experience!</p>  
      </div>
    </div>
  </body>
</html>
