<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="padding-top:80px">
    <app-header></app-header>
    <div class="login-container">
      <h2>Change Your Password</h2>
      <form class="login-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Old Password</label>
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            [(ngModel)]="oldPassword"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </div>
        <div class="form-group">
            <label for="password">Password Confirm</label>
            <input
              type="password"
              id="passwordConfirm"
              name="passwordConfirm"
              [(ngModel)]="passwordConfirm"
              required
            />
          </div>
        <button type="submit" class="login-button" (click)="onSubmit()">Change Password</button>
      </form>

      </div>
  </body>
</html>
