<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <app-header></app-header>
    <div class="alert-container">
      <p class="alert-message">
        Thank you for joining Poll'up! To be able to create polls, you need to
        verify your email first! If you want, you can skip this step now and
        verify your account later.
      </p>
    </div>
    <div class="verify-container">
      <h2>Verify Your Account</h2>
      <!-- Add the welcome message here -->
      <form class="login-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input
            type="text"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="verificationCode">Verification Code:</label>
          <input
            type="text"
            email="verificationCode"
            [(ngModel)]="verificationCode"
          />
        </div>
        <button type="submit" class="login-button">Verify</button>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
        <button type="submit" class="login-button">Skip This Step</button>
      </form>
    </div>
  </body>
</html>
