{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Air Quality App</h1>

<form method="post">
  {% csrf_token %}
  <input type="text" name="city" placeholder="Enter a country or a city" size="50">
  <button type="submit">See the Air Quality</button>
</form>

<div class="full-container">
  {% if weather_data %}
    <div class="city-container">
    <h1>{{ weather_data.city }}</h1>
  {% endif %}

  {% if air_quality_data %}
    <div class="forecast-container">
        {% for data in air_quality_data %}
            <div class="forecast">
                <h3>{{ data.day }}</h3>
                  <table>
                    <tr>
                      <th>Air Quality</th>
                      <th>{{ data.index }}</th>
                    </tr>
                    <tr>
                      <th>Carbon Monoxide Level</th>
                      <th>{{ data.CO }}</th>
                    </tr>
                    <tr>
                      <th>Nitrogen Monoxide Level</th>
                      <th>{{ data.NO }}</th>
                    </tr>
                    <tr>
                      <th>Nitrogen Dioxide Level</th>
                      <th>{{ data.NO2 }}</th>
                    </tr>
                    <tr>
                      <th>Ozone Level</th>
                      <th>{{ data.O3 }}</th>
                    </tr>
                    <tr>
                      <th>Sulphur Dioxide Level</th>
                      <th>{{ data.SO2 }}</th>
                    </tr>
                  </table>
                  
             </div>
        {% endfor %}
    </div>
{% endif %}

</div>

</body>
</html>